.categories {
    display: flex;
    position: relative;    
    padding: 0.5rem 2rem;
    border-radius: 1.5rem;
    background: $primary;
    box-shadow: $out-shadow;

    @include breakpoint($tablet) {
        flex-direction: column;
        opacity: 0;
        visibility: hidden;
        // transition: 0.4s ease-out;
        margin-left: auto;
    }

    &.open {
        opacity: 1;
        visibility: visible;
    }

    &__label {
        color: $text-secodary;
        font-size: 0.9rem;
        text-align: center;
        width: 13rem;
        padding: 0.5rem 1.3rem;
        border-radius: 1.6rem;
        background: transparent;
        cursor: pointer;
        transition: color 0.4s ease-out;

        &:hover {
            color: $text-primary;
        }
    }

    &__glider {
        position: absolute;
        height: 2.5rem;
        width: 13rem;
        background-color: transparent;
        box-shadow: $inner-shadow;
        z-index: 10001;
        border-radius: 1.5rem; 
        transition: transform 0.4s ease-out;
    }

    input[type="radio"] {
        display: none;

        &:checked {
            & + label {
                color: $text-primary;
            }
        }
    }

    input[id="all"] {
        &:checked {
            & ~ .categories__glider {
                transform: translateX(0);

                @include breakpoint($tablet) {
                    transform: translateY(0);
                }
            }
        }
    }
    
    input[id="lp"] {
        &:checked {
            & ~ .categories__glider {
                transform: translateX(100%);

                @include breakpoint($tablet) {
                    transform: translateY(100%);
                }
            }
        }
    }
    
    input[id="webapp"] {
        &:checked {
            & ~ .categories__glider {
                transform: translateX(200%);

                @include breakpoint($tablet) {
                    transform: translateY(200%);
                }
            }
        }
    }

    input[id="multipage"] {
        &:checked {
            & ~ .categories__glider {
                transform: translateX(300%);

                @include breakpoint($tablet) {
                    transform: translateY(300%);
                }
            }
        }
    }
    
    &.start-animation {
        @include animation-slide-down (0.7s, 0);
    }
}