.button {
    &__color {
        @include button;
        @include button-rect;
        @include button-color;

        &:hover {
            @include button-color-hover;
        }
    }
    &__with-icon {
            @include button;
            @include button-rect;
            display: flex;
            align-items: center;
            justify-content: left;
    
            min-width: 15rem;
            padding: 1.2rem 1rem;
            font-size: 1rem;
            color: $text;
            transition: color .3s linear, background-color .3s linear;
    
            @include breakpoint($mobile) {
                width: 17rem;
            }
    
            &:not(:last-child) {
                margin-right: 4rem;
    
                @include breakpoint($mobile) {
                    margin-right: 0 !important;
                }
            }
    
            &:hover {
                color: $primary;
                background-color: $secondary;
            }

        svg {
            width: 2.3rem;
            height: 2.3rem;
            padding: 0.25rem;
            margin-right: 0.8rem;
            border-radius: 0.6rem;
            background: $primary;
            box-shadow: $inner-shadow;
            fill: $secondary;
            transition: all .3s linear;
        }
    }

    &__with-icon--small {
        @include button;
        @include button-rect;
        display: flex;
        align-items: center;
        justify-content: left;

        min-width: 10rem;
        padding: 0.8rem 1rem;
        margin: 0;
        font-size: 0.8rem;
        color: $text;
        transition: color .2s linear, background-color .3s linear;

        @include breakpoint($mobile) {
            width: 15rem;
        }

        &:hover {
            color: $primary;
            background-color: $secondary;
        }

    svg {
        width: 2rem;
        height: 2rem;
        padding: 0.3rem;
        margin-right: 0.8rem;
        border-radius: 0.6rem;
        background: $primary;
        box-shadow: $inner-shadow;
        fill: $secondary;
        transition: all .2s linear;
    }
}
}
