.footer {

    &--portfolio {
        display: flex;
        flex-direction: column;
        background: transparent;
        margin-top: 1.5rem;
    }
    

    &__container {
        @include breakpoint($tablet) {
            display: flex;
            justify-content: center;
            margin-top: 1.5rem;
        }

        &--centred {
            display: flex;
            justify-content: center;
            margin-top: 1.5rem;
        }
    }
}