.footer {

    &--portfolio {
        display: flex;
        flex-direction: column;
        background: transparent;
        margin-top: 1.5rem;
    }
    

    &__container {
        @include breakpoint(1000px) {
            display: flex;
            justify-content: center;
            margin-top: 1.5rem;
        }

        &--centred {
            display: flex;
            justify-content: center;
            margin-top: 1.5rem;
        }
    }

    &__copyright {
        height: 100%;
        width: 100%;
        background: transparent;
        color: $light-grey;
        font-size: 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 0.05rem solid $light-grey;
        padding: 0.5rem 0;
        margin-top: 1.5rem;
    }
}