.header {
    display: flex;
    justify-content: right;
    width: 100%;

    &--portfolio {
        justify-content: left;
        position: fixed;
        background: $primary;
        z-index: 1000;
        min-height: 4rem;
        padding: 1rem 0;
    }

    @include breakpoint($tablet) {
        justify-content: center;
        align-items: center;
    }

    &__container {
        display: flex;
        margin-top: 3rem;
        margin-right: 6rem;
        padding: 0.5rem 1.5rem;
        border-radius: 1.6rem;
        background: $primary;
        box-shadow: $out-shadow;

        @include breakpoint($tablet) {
            justify-content: right;
            align-items: center;
            margin: 0;
        }
        &.start-animation {
            @include animation-slide-down(0.5s, 0.5s);
        }
    }
    
    &__container--portfolio {
        display: flex;
        width: 100%;
    }

    &__burger {
        width: 6rem;
        margin-left: 8rem;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include breakpoint(1250px) {
            margin-left: 5rem;
        }

        @include breakpoint($tablet) {
            margin-left: 1rem;
        }

        &.start-animation {
            @include animation-fade-in (0.7s, 0);
        }
    }

    &__categories {
        width: 100%;
        height: 100%;
        margin-left: -8rem;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;

        @include breakpoint($tablet) {
            margin-left: -1rem;
            position: absolute;
            top: 200%;
        }
    }

    &__button {
        display: none;

        @include breakpoint($tablet) {
            outline: none;
            font-family: inherit;
            border: 0;
            display: block;
            position: absolute;
            top: -180%;
            right: 1rem;
            @include button;
            margin: 0.3rem 0;
            padding: 0.5rem 1.5rem;
            color: $text-primary;
            font-size: 0.9rem;
            font-weight: 500;
            border-radius: 1.5rem;
        }
        
        &.active {
            box-shadow: $inner-shadow;
        }
    }
}

