.header {
    display: flex;
    justify-content: right;

    @include breakpoint(1000px) {
        justify-content: center;
        align-items: center;
    }

    &__container {
        display: flex;
        margin-top: 3rem;
        margin-right: 6rem;
        padding: 0.5rem 1.5rem;
        border-radius: 1.6rem;
        background: $primary;
        box-shadow: $out-shadow;

        @include breakpoint(1000px) {
            justify-content: center;
            align-items: center;
            margin: 0;
        }
    }   
}