.hero {
    display: flex;
    width: 100%;

    @include breakpoint(1000px) {
        flex-direction: column;
        align-items: center;
    }

    &__column {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include breakpoint(1000px) {
            align-items: center;
        }
        
        &:not(:last-child) {
            padding-right: 1rem;

            @include breakpoint(1000px) {
                padding-right: 0;
            }
        }

        &--right {
            width: 55%;

            @include breakpoint(1000px) {
                width: 100%;
            }
        }

        &--left {
            width: 45%;

            @include breakpoint(1000px) {
                width: 100%;
            }
        }
    }

    &__title {
        @include breakpoint($mobile) {
            max-width: 100%;
            display: flex;
            justify-content: center;
        }
        &.start-animation{
            @include animation-slide-in-left(1s, 0s);
        }
    }

    &__subtitle {
        font-family: $ff-main;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 4rem;
        color: $text-primary;
        letter-spacing: 0.2rem;

        @include breakpoint(1000px) {
            text-align: center;
            font-size: 1.8rem;
            line-height: 3rem;
        }

        &.start-animation {
            @include animation-slide-in-right(1s, 0s);
        }
    }

    &__text {
        font-size: 1.1rem;
        margin-bottom: 2rem;

        @include breakpoint(1000px) {
            width: 70%;
            text-align: center;
        }

        &.start-animation {
            @include animation-fade-in(0.5s, 0.5s);
        }
    }

    &__contacts {
        display: flex;
        margin-bottom: 3rem;

        &.animation-slide-up {
            @include animation-slide-up(0.7s, 0.85s);
        }
    }

    &__link {
        a {
            display: flex;
            align-items: center;
            font-size: 1rem;
            color: $text-primary;
            transition: color .2s linear;
    
            &:hover {
                color: $text-secodary-light;
            }
    
            svg {
                width: 2rem;
                height: 2rem;
                fill: $text-secodary-light;
                padding: 0.3rem;
                box-shadow: $inner-shadow;
                border-radius: 0.6rem;
                margin-right: 0.5rem;
            }
        }
        
        &:first-child.start-animation {
            @include animation-scale-out(0.7s, 0.7s);
        }
        &:last-child.start-animation {
            @include animation-scale-out(0.7s, 0.7s);
        }
    }

    &__link:not(:last-child) {
        margin-right: 1rem;
    }

    &__button {
        &.start-animation {
            @include animation-scale-out(0.7s, 0.7s);
        }
    }
    
    &Swiper {
        &.start-animation {
            @include animation-scale-in(0.7s, 0s);
        }
    }
}












