.hero {
    display: flex;
    width: 100%;

    @include breakpoint(1000px) {
        flex-direction: column;
        align-items: center;
    }

    &__column {
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include breakpoint(1000px) {
            align-items: center;
        }
        
        &:not(:last-child) {
            padding-right: 1rem;

            @include breakpoint(1000px) {
                padding-right: 0;
            }
        }

        &--right {
            width: 55%;

            @include breakpoint(1000px) {
                width: 100%;
            }
        }

        &--left {
            width: 45%;

            @include breakpoint(1000px) {
                width: 100%;
            }
        }
    }

    &__title {
        font-family: $ff-title;
        font-size: 2.3rem;
        line-height: 5rem;
        letter-spacing: 0.2rem;
        margin-bottom: 2rem;

        background-image: linear-gradient(90deg, $secondary 22%, $secondary-dark 78%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @include breakpoint(1000px) {
            text-align: center;
            font-size: 2rem;
            margin-bottom: 1rem;
            line-height: 3.5rem;
        }
    }

    &__subtitle {
        font-family: $ff-title;
        font-size: 2rem;
        line-height: 4rem;
        color: $text-primary;
        letter-spacing: 0.2rem;

        @include breakpoint(1000px) {
            text-align: center;
            font-size: 1.8rem;
            line-height: 3rem;
        }
    }

    &__text {
        font-size: 1.1rem;
        margin-bottom: 2rem;

        @include breakpoint(1000px) {
            width: 70%;
            text-align: center;
        }
    }

    &__contacts {
        display: flex;
        margin-bottom: 3rem;
    }

    &__link a {
        display: flex;
        align-items: center;
        font-size: 1rem;
        color: $text-primary;
        transition: color .2s linear;

        &:hover {
            color: $text-secodary-light;
        }

        svg {
            width: 2rem;
            height: 2rem;
            fill: $text-secodary-light;
            padding: 0.3rem;
            box-shadow: $inner-shadow;
            border-radius: 0.6rem;
            margin-right: 0.5rem;
            }
    }

    &__link:not(:last-child) {
        margin-right: 1rem;
    }
}












