.masonry {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include breakpoint($tablet) {
        padding-top: 6.5rem;
    }

    &__wrapper {
        padding: 3rem 3rem 0 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__text {
        color: $secondary;
        padding: 0.2rem 0.5rem;
        position: absolute;
        top: 100%;
        left: -2rem;
        transform: rotate(-90deg);
        transform-origin: 0 0;
    }

    &__block {
        border-radius: 1.5rem;
        @include block;
        box-shadow: $portfolio-shadow;
        position: relative;
        cursor: pointer;

        width: 25rem;
        height: 16rem;
        
        &:hover {
            .masonry__title  {
                opacity: 1;
                visibility: visible;
            }     
        }

        &.start-animation {
            @include animation-scale-in (0.7s, 0);
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 1.5rem;

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            transition: all .3s linear;
        } 
    }

    &__title {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100%;
        padding: 0.5rem 0.8rem;
        border-radius: 1.5rem;
        display: flex;
        font-size: 1rem;
        font-weight: 500;
        color: $text-primary;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: all .3s linear;
    }

    &__button {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        text-align: center;
        transition: all .3s linear;
        @include button;
        min-width: 10rem;
        height: 2.5rem;
        margin: 1rem 0;
        transition: all .3s linear;

        color: $text-primary;
        font-size: 0.8rem;
        font-weight: 600;
        border-radius: 0.6rem;

    }
}



.masonry div:nth-child(odd) .masonry__block {
    transition: transform 2.5s ease-out;
}


.masonry div:nth-child(even) .masonry__block  {
        margin-bottom: 3rem;
        transition: transform 1.9s ease-in-out;
}


.masonry div:nth-child(3n) .masonry__block {
    transition: transform 2.2s ease-out;
}


