.panel {
    width: 3rem;

    &__list {
        padding: 0.6rem 0;
        box-shadow: $color-shadow;
        border-radius: 0.6rem;
        background: $button-color-gradient;
    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 3rem;
        height: 1.5rem;
        border-radius: 1.5rem;
        padding: 0.1rem 0;

        svg {
            fill: $white;
            width: 1.3rem;
            height: 1.3rem;
        }

        &:not(:last-child) {
            margin: 0.5rem 0;
        }

        &.active {
            background: $white;
            box-shadow: $out-shadow;
            transform: translateX(0.5rem);

            svg {
                fill: $secondary;
            }
        }
    }
}