.preloader {
    background: radial-gradient($primary, $primary-dark); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1100;

    opacity: 1;
    visibility: visible;
    transition: .5s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;

    &__sign {
        color: $secondary;
        margin-top: 18rem;
        font-size: 1rem;
        @include breakpoint($tablet) {
            margin-top: 23rem;
            font-size: 1.5rem;
        }
        @include breakpoint($mobile) {
            width: 20rem;
            text-align: center;
            line-height: 140%;
        }
    }

    &.done {
        opacity: 0;
        visibility: hidden;
        // display: none;
    }

    &.done body {
        overflow-y: visible;
    }
}

#loader {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}

.loader-wave {
	margin: auto;
	width: 100%;
	height: 8rem;

    display: flex;
    justify-content: center;

    li {
        background: $secondary;
        height: 0.3125rem;
        width: 1.5rem;
        margin-right: 0.1rem;
        margin-top: 2.125rem;
        display: inline-block;
        animation: loader-wave 1.73s infinite ease-in-out;
    }

    & li:nth-child(1) {
        animation-delay: 0.06s;
    }
    & li:nth-child(2) {
        animation-delay: 0.12s;
    }
    & li:nth-child(3) {
        animation-delay: 0.17s;
    }
    & li:nth-child(4) {
        animation-delay: 0.23s;
    }
    & li:nth-child(5) {
        animation-delay: 0.29s;
    }
    & li:nth-child(6) {
        animation-delay: 0.35s;
    }
    & li:nth-child(7) {
        animation-delay: 0.4s;
    }
    & li:nth-child(8) {
        animation-delay: 0.46s;
    }
    & li:nth-child(9) {
        animation-delay: 0.52s;
    }
    & li:nth-child(10) {
        animation-delay: 0.58s;
    }
}


@keyframes loader-wave {
	50% {
		height: 100%;
		margin-top: 0;
		background: $primary-dark;
	}
}

