.mouse-parallax-title {
    height: 80px;
    width: 575px;
    position: relative;
}
.mouse-parallax-title-1,
.mouse-parallax-title-2,
.mouse-parallax-title-3,
.mouse-parallax-title-4 {
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 95%;
    height: 100%;
    transition: all 0.2s ease;  
    background-image: url("./images/title.png");
    z-index: 5;
}
.mouse-parallax-title-2 {
    background-image: url("./images/title1.png");
    left: 1%;
    top: -1%;
    z-index: 4;
}
.mouse-parallax-title-3 {
    background-image: url("./images/title2.png");
    left: 2%;
    top: -2%;
    z-index: 3;
}
.mouse-parallax-title-4 {
    background-image: url("./images/title3.png");
    left: 3%;
    top: -3%;
    z-index: 2;
}