.box-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &__bottom-frame {
        width: 32rem;
        height: 25rem;
        @include block;
        position: relative;
    }

    &__middle-frame {
        width: 16rem;
        height: 30rem;
        @include block;
        position: absolute;
    }

    &__dots {
        display: flex;
        position: absolute;
        top: 1rem;
        left: 1rem;

        div:nth-child(2) {
            background: #FBF7A7;
        }

        div:nth-child(3) {
            background: #F0A0BC;
        }

        &-item {
            width: 1rem;
            height: 1rem;
            background: $secondary;
            box-shadow: $out-shadow;
            border-radius: 50%;

            &:not(:last-child) {
                margin-right: 0.3rem;
            }
        } 
    }

    &__panel {
        position: absolute;
        top: 5%;
        right: 7%;
    }

    &__line {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: $line-gradient;
        border-radius: 0.6rem;

        width: 6rem;
        height: 1.5rem;

        &--left {
            left: 0;
        }

        &--right {
            right: 0;
        }

        &--long {
            width: 11rem;
            top: 60%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__play-button {
        @include block;
        padding: 4rem;
        position: absolute;
        top: 32%;
        left: -20%;
    }

    &__video {
        position: absolute;
        top: 48%;
        left: 55%;

        video {
            width: 10rem;
            height: 6rem;
            opacity: .5;
            border-radius: 24px;
        }
    }

    &__slider-with-point {
        @include block;
        padding: 1.5rem 2rem;
        position: absolute;
        bottom: 15%;
        left: -30%;
    }
}