.heart-beat{
    &__bottom {
        bottom: 0;
        width: 10rem;
        height: 2rem;
        border-radius: 0.6rem;
        position: relative;

        background: $primary-dark;
        box-shadow: $out-shadow;
    }

    &__icon {
        position: absolute;
        top: 50%;
        right: 0.5rem;
        transform: translateY(-50%);
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        background: $primary;
        box-shadow: $out-shadow;

        display: flex;
        align-items: center;
        justify-content: center;

        svg {
            width: 0.8rem;
            height: 0.8rem;
            fill: $light-grey;
        }
    }

    &__top {
        position: absolute;
        bottom: -35%;
        left: 8%;
        width: 5rem;
        height: 5rem;
        border-radius: 0.6rem;
        @include block;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__plate {
        width: 3.5rem;
        height: 3.5rem;
        
        background: $primary;
        box-shadow: $inner-shadow;
        border-radius: 50%;

        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            fill: $secondary;
            width: 2rem;
            height: 2rem;
            animation:bpm 1s linear, pulse 0.75s 1s linear infinite;
        }
    }
}


@keyframes bpm {
	from {
		transform: scale(0);
	}
	37.5% {
		transform: scale(1.2);
	}
	75%,
	to {
		transform: scale(1);
	}
}

@keyframes pulse {
	from,
	75%,
	to {
		transform: scale(1);
	}
	25% {
		transform: scale(0.9);
	}
	50% {
		transform: scale(1.2);
	}
}