.loading-circle {
    margin-bottom: 2rem;
    
    &__ring {
        display: flex;
        justify-content: center;
        align-items: center;

        border: 0.5rem solid $primary;
        box-shadow: $out-shadow;
        border-radius: 50%;
    }

    &__ring-1 {
        width: 8rem;
        height: 8rem;
        animation: glow-1 2.5s infinite;
    }

    &__ring-2 {
        width: 6rem;
        height: 6rem;
        animation: glow-2 2.5s infinite;
    }

    &__ring-3 {
        width: 4rem;
        height: 4rem;
        animation: glow-3 2.5s infinite;
    }

    &__ring-4 {
        width: 2rem;
        height: 2rem;
        animation: glow-4 2.5s infinite;
    }
}


@keyframes glow-1 {
    60% {
        background: $primary;
    }
    80% {
        background: $secondary;
    }
    100% {
        background: $secondary;
    }
}



@keyframes glow-2 {
    40% {
        background: $primary;
    }
    60% {
        background: $secondary;
    }
    100% {
        background: $secondary;
    }
}



@keyframes glow-3 {
    20% {
        background: $primary;
    }
    40% {
        background: $secondary;
    }
    100% {
        background: $secondary;
    }
}


@keyframes glow-4 {
    0% {
        background: $primary;
    }
    20% {
        background: $secondary;
    }
    100% {
        background: $secondary;
    }
}