html {
    box-sizing: border-box;
    font-size: 16px;

    @include breakpoint($mini-desk) {
        font-size: 14px;
    }

    @include breakpoint($mobile) {
        font-size: 11px;
    }
}

body {
    margin: 0;
    background-color: $primary;
    font-family: $ff-main;
    font-weight: 500;
    color: $text-primary;
    font-size: $text;
    line-height: 1.5rem;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.img-cover {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-reset {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}


.page {
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    // width: 100vw;
    min-height: 100vh;

    &--home {
        background-image: url("./images/homepage-bg.svg");
        background-position: top left;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &--portfolio {
        background-image: url("./images/cloud-bg.svg");
        background-position: top;
        background-repeat: repeat;
    }
}

.header {
    flex: 0 0 6.25rem;
}

.main {
    flex: 1 1 auto;

    &--homepage {
        display: flex;
        align-items: center;
        height: 100%;

        @include breakpoint(1000px) {
            display: block;
        }
    }

    &--portfolio {
        padding-left: 6rem;
        padding-top: 6rem;

        @include breakpoint($tablet) {
            padding-left: 0;
            padding-top: 1.5rem;
        }
    }
}

.container {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 76.875rem;
    height: 100%;

    @include breakpoint(400px) {
        padding: 0;
    }

    &--portfolio {
        margin: 0;
        padding: 0;
        max-width: 100%;
        height: 100%;
    }
}

.footer {
    flex: 0 0 6.25rem;
}

.no-scroll {
    overflow-y: hidden;
}


.fadeIn {
	animation-name: fadeIn;
	opacity: 1;
	visibility: visible;
}

@keyframes fadeIn { 
	from {
		opacity: 0;
		visibility: hidden;
	}
	to { 
		opacity:1;
		visibility: visible; 
	}
}

.fadeIn {
	animation-duration: 0.4s;
	animation-timing-function: linear;
}

.centred {
    display: flex;
    justify-content: center;
}