$white:rgb(255, 255, 255);
$black:rgb(0, 0, 0);

//background
$primary: rgb(26, 26, 26);
$secondary:rgb(244, 188, 51);
$mine-shaft: rgb(42, 42, 42);

//text
$color-text:#b6b6b2;
$alto: rgb(206, 206, 206);


//text size
$text: 15px;
$small-text: 12px;

$ff-main: 'Open Sans', sans-serif;
$ff-title: 'Jost', sans-serif;

//z-index
$z-index-header:  1000;
$header-height: 50px;


//media
$middle-desk: 1440px;
$mini-desk: 1200px;
    $desktop: 1025px;
$tablet: 1024px;
$mini-tablet: 768px;
$mobile: 576px;
$mini-mobile: 376px;




$main-shadow:
    0 80px 80px -20px rgba(154, 156, 165, 0.08),
    0 30px 24px -10px rgba(154, 156, 165, 0.05),
    0 12px 10px -6px rgba(154, 156, 165, 0.04),
    0 4px 4px -4px rgba(30, 33, 44, 0.03);