.project {
    &__page {
        background: $white;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    &__body {
        max-width: 1400px;
        margin: 0 auto;
        height: 100%;
        flex: 1 1 auto;
        padding-top: 70px;
    }
    &__header {
        width: 100%;
        height: 70px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        padding: 1rem 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background:$primary;

        &__container {
            display: flex;
        }
        &__link {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.6rem;
            border-radius: 50%;
            background: $primary;
            box-shadow: $out-shadow;
            transition: all .2s linear;
            &:not(:last-child) {
                margin-right: 1.5rem;
            }

            svg {
                width: 1.5rem;
                height: 1.5rem;
                fill: $text-secodary-light;
                transition: all .2s linear;
            }

            &:after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%);
                color: $secondary;
                width: 100%;
                transition: all .3s linear;
                opacity: 0;
            }

            &--next:after {
                content: "Далее";
            }
            &--prev:after {
                content: "Назад";
            }
            &--homepage:after {
                content: "Главная";
            }
            &--portfolio:after {
                content: "Портфолио";
            }
            &--github:after {
                content: "Репозиторий";
            }
            &--show:after {
                content: "Просмотр";
            }

            &:hover {
                box-shadow: $inner-shadow; 
                svg {
                    fill: $secondary;
                }
            }

            &:hover::after {
                top: 130%;
                opacity: 1;
            }
        }
    }
    &__full-image {
        max-width: 90%;
        height: 100%;
        margin: 0 auto;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        @include breakpoint($tablet) {
            width: 100%;
        }
    }
}