/*!*****************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!../node_modules/sass-loader/dist/cjs.js!./styles/main.scss ***!
  \*****************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Russo+One&display=swap);
/*!*********************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!../node_modules/sass-loader/dist/cjs.js!./styles/main.scss (1) ***!
  \*********************************************************************************************************************************************/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

html {
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #E3EDF7;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #123D65;
  font-size: 15px; }

*,
*:before,
*:after {
  box-sizing: inherit; }

h1, h2, h3, h4, h5, p {
  margin: 0; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.img-cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer; }

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0; }

.main {
  overflow: hidden; }

.page {
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  background-image: url("./images/homepage-bg.svg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover; }

header {
  flex: 0 0 100px; }

footer {
  flex: 0 0 150px; }

main {
  flex: 1 1 auto; }

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1260px; }

.is-hidden {
  display: none !important; }

.centered {
  width: 100%;
  text-align: center; }

.js-focus-visible :focus:not(.focus-visible) {
  outline: none; }

/* Blocks */
.header {
  display: flex;
  justify-content: right; }
  .header__container {
    display: flex;
    margin-top: 3rem;
    margin-right: 6rem;
    padding: 0.5rem 1.5rem;
    border-radius: 1.6rem;
    background: #E3EDF7;
    box-shadow: -4px -2px 16px white, 4px 3px 16px rgba(104, 132, 157, 0.5); }

.nav__list {
  display: flex; }

.nav__item {
  background: transparent;
  padding: 0.5rem 1.3rem;
  border-radius: 1.6rem;
  min-width: 10rem;
  text-align: center;
  cursor: pointer;
  transition: all .2s linear; }
  .nav__item:hover .nav__link:after, .nav__item.active .nav__link:after {
    width: 1.5rem; }
  .nav__item:hover .nav__link, .nav__item.active .nav__link {
    color: #123D65; }
  .nav__item.active {
    box-shadow: inset -3px -3px 7px #FFFFFF, inset 2px 2px 5px rgba(136, 165, 191, 0.38); }

.nav__link {
  position: relative;
  font-size: 1.1rem;
  color: #A0A1AC;
  transition: all .2s linear; }
  .nav__link:after {
    content: "";
    position: absolute;
    z-index: 100;
    left: 0;
    bottom: -0.1rem;
    width: 0;
    height: .2rem;
    border-radius: 1.6rem;
    background: #78C5D6;
    transition: all .2s linear; }

.switch {
  position: relative;
  background: linear-gradient(135.44deg, #DAE6F2 13.76%, rgba(225, 234, 245, 0) 122.1%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.6rem;
  box-shadow: inset -3px -3px 7px #FFFFFF, inset 2px 2px 5px rgba(136, 165, 191, 0.38);
  cursor: pointer; }
  .switch.active .switch__button {
    transform: translateX(0); }
  .switch__content {
    font-size: .8rem;
    color: #B4C0CE;
    padding: 0 .5rem; }
  .switch__button {
    position: absolute;
    transform: translateX(100%);
    width: 2.3rem;
    height: 2.3rem;
    color: #A0A1AC;
    border: none;
    border-radius: 50%;
    background: #E3EDF7;
    box-shadow: -16px -16px 40px rgba(255, 255, 255, 0.8), 16px 4px 64px rgba(18, 61, 101, 0.3), inset -8px -6px 80px rgba(255, 255, 255, 0.18);
    cursor: pointer;
    transition: transform .3s linear; }

.clock {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  width: 8rem;
  height: 8rem;
  justify-self: center;
  box-shadow: -4px -2px 16px white, 4px 3px 16px rgba(104, 132, 157, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .clock__hand {
    position: absolute;
    transform-origin: bottom;
    bottom: 4rem;
    border-radius: .2rem;
    z-index: 200; }
  .clock__hours {
    width: .2rem;
    height: 2.5rem;
    background: #78C5D6; }
  .clock__minutes {
    width: .2rem;
    height: 3.1rem;
    background: #78C5D6; }
  .clock__seconds {
    width: .1rem;
    height: 3.3rem;
    background: #4BBADD; }
  .clock__point {
    position: absolute;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background: #78C5D6;
    z-index: 300; }
  .clock__marker {
    width: 95%;
    height: 95%;
    border-radius: 50%;
    position: relative;
    box-shadow: inset -3px -3px 7px #FFFFFF, inset 2px 2px 5px rgba(136, 165, 191, 0.38); }
    .clock__marker::after {
      content: '';
      width: 60%;
      height: 60%;
      position: absolute;
      box-shadow: inset 1px 1px 1px #E3EDF7, inset -1px -1px 1px white;
      border-radius: 50%;
      top: 20%;
      left: 20%;
      filter: blur(1px); }
    .clock__marker-1, .clock__marker-2, .clock__marker-3, .clock__marker-4 {
      position: absolute;
      border-radius: .1rem;
      box-shadow: inset 1px 1px 1px #E3EDF7, inset -1px -1px 1px white; }
    .clock__marker-1, .clock__marker-2 {
      width: .2rem;
      height: .6rem;
      left: 3.6rem; }
    .clock__marker-3, .clock__marker-4 {
      width: .6rem;
      height: .2rem;
      top: 3.6rem; }
    .clock__marker-1 {
      top: 2%; }
    .clock__marker-2 {
      top: 98%;
      transform: translateY(-0.6rem); }
    .clock__marker-3 {
      left: 2%; }
    .clock__marker-4 {
      left: 98%;
      transform: translateX(-0.6rem); }

.slider-with-point {
  margin-top: 2rem;
  width: 13rem;
  height: 1rem;
  box-shadow: inset -3px -3px 7px #FFFFFF, inset 2px 2px 5px rgba(136, 165, 191, 0.38);
  position: relative;
  border-radius: 10px; }
  .slider-with-point:after {
    content: "";
    position: absolute;
    width: 13rem;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(89.59deg, #78C5D6 0.35%, #4BBADD 99.65%);
    border-radius: 10px;
    animation: widthExpand 5s linear infinite;
    animation-direction: alternate; }
  .slider-with-point__bullet {
    position: absolute;
    z-index: 100;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    top: -0.45rem;
    left: -0.6rem;
    background: #E3EDF7;
    box-shadow: -4px -2px 16px white, 4px 3px 16px rgba(104, 132, 157, 0.5);
    animation: moveRight 5s linear infinite;
    animation-direction: alternate; }
    .slider-with-point__bullet:after {
      content: "";
      position: absolute;
      z-index: 100;
      width: .6rem;
      height: .6rem;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      margin: -0.3rem;
      background: #E3EDF7;
      box-shadow: inset -3px -3px 7px #FFFFFF, inset 2px 2px 5px rgba(136, 165, 191, 0.38); }

@keyframes widthExpand {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes moveRight {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(12.8rem); } }

.play-button {
  grid-column: 2 / 3;
  grid-row: 4 / 6;
  width: 5rem;
  height: 100%;
  justify-self: center;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center; }
  .play-button__inner {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    margin: .6rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 3.2rem;
    color: #78C5D6;
    z-index: 300;
    background: #E3EDF7;
    box-shadow: -4px -2px 16px white, 4px 3px 16px rgba(104, 132, 157, 0.5);
    cursor: pointer;
    position: relative; }
  .play-button__back-1, .play-button__back-2 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    filter: blur(1px);
    z-index: 100; }
  .play-button__back-1 {
    box-shadow: 0.4rem 0.4rem 0.6rem #E3EDF7, -0.4rem -0.4rem 0.6rem white;
    background: linear-gradient(to bottom right, #E3EDF7 0%, white 100%);
    animation: waves 4s linear infinite; }
  .play-button__back-2 {
    box-shadow: 0.4rem 0.4rem 0.6rem #E3EDF7, -0.4rem -0.4rem 0.6rem white;
    animation: waves 4s linear 2s infinite; }

@keyframes waves {
  0% {
    transform: scale(1);
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(2);
    opacity: 0; } }

