/*!*****************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!../node_modules/sass-loader/dist/cjs.js!./styles/main.scss ***!
  \*****************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Russo+One&display=swap);
/*!*********************************************************************************************************************************************!*\
  !*** css ../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!../node_modules/sass-loader/dist/cjs.js!./styles/main.scss (1) ***!
  \*********************************************************************************************************************************************/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

html {
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: #E3EDF7;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #123D65;
  font-size: 15px;
  line-height: 1.5rem; }

*,
*:before,
*:after {
  box-sizing: inherit; }

h1, h2, h3, h4, h5, p {
  margin: 0; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.img-cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer; }

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0; }

.main {
  overflow: hidden; }
  .main--homepage {
    display: flex;
    align-items: center;
    height: 100%; }

.page {
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  background-image: url("./images/homepage-bg.svg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover; }

header {
  flex: 0 0 100px; }

footer {
  flex: 0 0 100px; }

main {
  flex: 1 1 auto; }

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1230px; }

.is-hidden {
  display: none !important; }

.centered {
  width: 100%;
  text-align: center; }

.js-focus-visible :focus:not(.focus-visible) {
  outline: none; }

/* Blocks */
.header {
  display: flex;
  justify-content: right; }
  .header__container {
    display: flex;
    margin-top: 3rem;
    margin-right: 6rem;
    padding: 0.5rem 1.5rem;
    border-radius: 1.6rem;
    background: #E3EDF7;
    box-shadow: -4px -2px 16px white, 4px 3px 16px rgba(104, 132, 157, 0.5); }

.nav__list {
  display: flex; }

.nav__item {
  background: transparent;
  padding: 0.5rem 1.3rem;
  border-radius: 1.6rem;
  min-width: 10rem;
  text-align: center;
  cursor: pointer;
  transition: all .2s linear; }
  .nav__item:hover .nav__link:after, .nav__item.active .nav__link:after {
    width: 1.5rem; }
  .nav__item:hover .nav__link, .nav__item.active .nav__link {
    color: #123D65; }
  .nav__item.active {
    box-shadow: inset -3px -3px 7px #FFFFFF, inset 2px 2px 5px rgba(136, 165, 191, 0.38); }

.nav__link {
  position: relative;
  font-size: 1.1rem;
  color: #A0A1AC;
  transition: all .2s linear; }
  .nav__link:after {
    content: "";
    position: absolute;
    z-index: 100;
    left: 0;
    bottom: -0.1rem;
    width: 0;
    height: .2rem;
    border-radius: 1.6rem;
    background: #78C5D6;
    transition: all .2s linear; }

.hero {
  display: flex; }
  .hero__column {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .hero__title {
    font-family: "Russo One", sans-serif;
    font-size: 3rem;
    line-height: 5rem;
    letter-spacing: 0.2rem;
    margin-bottom: 2rem;
    background-image: linear-gradient(90deg, #78C5D6 22%, #4BBADD 78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .hero__subtitle {
    font-family: "Russo One", sans-serif;
    font-size: 2.5rem;
    line-height: 4rem;
    color: #123D65;
    letter-spacing: 0.2rem; }
  .hero__text {
    font-size: 1.1rem;
    margin-bottom: 2rem; }
  .hero__contacts {
    display: flex;
    margin-bottom: 3rem; }
  .hero__link a {
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: #123D65;
    transition: color .2s linear; }
    .hero__link a:hover {
      color: #B4C0CE; }
  .hero__link:not(:last-child) {
    margin-right: 1rem; }
  .hero__icon {
    width: 2rem;
    height: 2rem;
    box-shadow: inset -3px -3px 7px #FFFFFF, inset 2px 2px 5px rgba(136, 165, 191, 0.38);
    border-radius: 10px;
    margin-right: 0.5rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%; }
    .hero__icon--tel {
      background-image: url("./images/icon/mobile.svg");
      background-size: 50%; }
    .hero__icon--email {
      background-image: url("./images/icon/email.svg");
      background-size: 60%; }

.hero__slider {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 0.8rem; }

.box {
  height: 470px;
  width: 500px; }

.left,
.right {
  width: 2.5rem;
  height: 2.5rem;
  background: #E3EDF7;
  box-shadow: -4px -2px 16px white, 4px 3px 16px rgba(104, 132, 157, 0.5);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  margin: 0 -1.3rem;
  text-align: center;
  padding: 8px;
  cursor: pointer;
  transition: all .3s linear; }
  .left:hover,
  .right:hover {
    box-shadow: inset -3px -3px 7px #FFFFFF, inset 2px 2px 5px rgba(136, 165, 191, 0.38); }

.left {
  left: 0; }

.right {
  right: 0; }

.box-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  .box-1__bottom-frame {
    width: 32rem;
    height: 25rem;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(135deg, #EBF2F9 19.14%, #C6D7EB 154.68%), linear-gradient(160deg, white 26.33%, rgba(219, 230, 242, 0) 50.71%, #99a9b8 100%);
    box-shadow: -16px -16px 40px rgba(255, 255, 255, 0.8), 16px 4px 64px rgba(18, 61, 101, 0.3), inset -8px -6px 80px rgba(255, 255, 255, 0.18);
    border-radius: 24px;
    border: 1px solid transparent;
    position: relative; }
  .box-1__middle-frame {
    width: 16rem;
    height: 30rem;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(135deg, #EBF2F9 19.14%, #C6D7EB 154.68%), linear-gradient(160deg, white 26.33%, rgba(219, 230, 242, 0) 50.71%, #99a9b8 100%);
    box-shadow: -16px -16px 40px rgba(255, 255, 255, 0.8), 16px 4px 64px rgba(18, 61, 101, 0.3), inset -8px -6px 80px rgba(255, 255, 255, 0.18);
    border-radius: 24px;
    border: 1px solid transparent;
    position: absolute; }
  .box-1__dots {
    display: flex;
    position: absolute;
    top: 1rem;
    left: 1rem; }
    .box-1__dots div:nth-child(2) {
      background: #FBF7A7; }
    .box-1__dots div:nth-child(3) {
      background: #F0A0BC; }
    .box-1__dots-item {
      width: 1rem;
      height: 1rem;
      background: #78C5D6;
      box-shadow: -4px -2px 16px white, 4px 3px 16px rgba(104, 132, 157, 0.5);
      border-radius: 50%; }
      .box-1__dots-item:not(:last-child) {
        margin-right: 0.3rem; }
  .box-1__line {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(90deg, rgba(180, 192, 206, 0.48) -65.62%, rgba(180, 192, 206, 0.6) -65.61%, #E6EAF0 50.17%, rgba(180, 192, 206, 0.6) 131.53%);
    border-radius: 24px;
    width: 6rem;
    height: 1.5rem; }
    .box-1__line--left {
      left: 0; }
    .box-1__line--right {
      right: 0; }
    .box-1__line--long {
      width: 11rem;
      top: 60%;
      left: 50%;
      transform: translateX(-50%); }
  .box-1__play-button {
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(135deg, #EBF2F9 19.14%, #C6D7EB 154.68%), linear-gradient(160deg, white 26.33%, rgba(219, 230, 242, 0) 50.71%, #99a9b8 100%);
    box-shadow: -16px -16px 40px rgba(255, 255, 255, 0.8), 16px 4px 64px rgba(18, 61, 101, 0.3), inset -8px -6px 80px rgba(255, 255, 255, 0.18);
    border-radius: 24px;
    border: 1px solid transparent;
    padding: 3.5rem;
    position: absolute;
    top: 32%;
    left: -20%; }
  .box-1__video {
    position: absolute;
    top: 48%;
    left: 55%; }
    .box-1__video video {
      width: 10rem;
      height: 6rem;
      opacity: .6;
      border-radius: 24px; }
  .box-1__slider-with-point {
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(135deg, #EBF2F9 19.14%, #C6D7EB 154.68%), linear-gradient(160deg, white 26.33%, rgba(219, 230, 242, 0) 50.71%, #99a9b8 100%);
    box-shadow: -16px -16px 40px rgba(255, 255, 255, 0.8), 16px 4px 64px rgba(18, 61, 101, 0.3), inset -8px -6px 80px rgba(255, 255, 255, 0.18);
    border-radius: 24px;
    border: 1px solid transparent;
    padding: 1.5rem 2rem;
    position: absolute;
    bottom: 15%;
    left: -30%; }
  .box-1__panel-list {
    position: absolute;
    top: 5%;
    right: 7%;
    padding: 0.6rem 0;
    box-shadow: 6px 9px 40px rgba(3, 184, 255, 0.44), -6px -6px 16px rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    background: linear-gradient(89.59deg, #78C5D6 0.35%, #4BBADD 99.65%); }
  .box-1__panel-item:not(:last-child) {
    margin: 0.5rem 0; }
  .box-1__panel-icon {
    width: 3rem;
    height: 1.3rem;
    padding: 0 1rem;
    border-radius: 24px; }
    .box-1__panel-icon.active {
      background: linear-gradient(135deg, #EBF2F9 19.14%, #C6D7EB 154.68%), linear-gradient(160deg, white 26.33%, rgba(219, 230, 242, 0) 50.71%, #99a9b8 100%);
      box-shadow: -16px -16px 40px rgba(255, 255, 255, 0.8), 16px 4px 64px rgba(18, 61, 101, 0.3), inset -8px -6px 80px rgba(255, 255, 255, 0.18);
      transform: translateX(0.5rem); }

.box-2 {
  position: relative; }
  .box-2__circle-frame {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: dashed 1px #B4C0CE; }
    .box-2__circle-frame div:nth-child(1) {
      top: 0;
      right: 2rem; }
    .box-2__circle-frame div:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
      right: -1.5rem; }
    .box-2__circle-frame div:nth-child(3) {
      bottom: 0;
      right: 2rem; }
  .box-2__icon {
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background: #E3EDF7;
    box-shadow: -4px -2px 16px white, 4px 3px 16px rgba(104, 132, 157, 0.5);
    display: flex;
    align-items: center;
    justify-content: center; }
    .box-2__icon.active {
      background: #78C5D6; }
  .box-2__frame {
    position: absolute;
    bottom: 0;
    left: 2rem;
    width: 20rem;
    height: 28rem;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(135deg, #EBF2F9 19.14%, #C6D7EB 154.68%), linear-gradient(160deg, white 26.33%, rgba(219, 230, 242, 0) 50.71%, #99a9b8 100%);
    box-shadow: -16px -16px 40px rgba(255, 255, 255, 0.8), 16px 4px 64px rgba(18, 61, 101, 0.3), inset -8px -6px 80px rgba(255, 255, 255, 0.18);
    border-radius: 24px;
    border: 1px solid transparent; }
  .box-2__lines {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30%; }
  .box-2__line {
    background: linear-gradient(90deg, rgba(180, 192, 206, 0.48) -65.62%, rgba(180, 192, 206, 0.6) -65.61%, #E6EAF0 50.17%, rgba(180, 192, 206, 0.6) 131.53%);
    border-radius: 24px;
    width: 17rem;
    height: 1.5rem; }
    .box-2__line:not(:last-child) {
      margin-bottom: 2rem; }
  .box-2__photo {
    position: absolute;
    border-radius: 10px;
    opacity: 0.8;
    box-shadow: -16px -16px 40px rgba(255, 255, 255, 0.8), 16px 4px 64px rgba(18, 61, 101, 0.3), inset -8px -6px 80px rgba(255, 255, 255, 0.18); }
    .box-2__photo--big {
      width: 6rem;
      height: 10rem;
      top: -4%;
      right: 15%;
      transform: translateY(0);
      animation: levitate 3s ease-in-out infinite;
      animation-direction: alternate; }
    .box-2__photo--middle {
      width: 7rem;
      height: 5rem;
      top: 2%;
      right: -8%;
      transform: translateY(0);
      animation: levitate 2s ease-in-out infinite;
      animation-direction: alternate; }
    .box-2__photo--small {
      width: 3rem;
      height: 5rem;
      top: 17%;
      right: 35%;
      transform: translateY(0);
      animation: levitate 1s ease-in-out infinite;
      animation-direction: alternate; }
    .box-2__photo img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      border-radius: 10px; }
  .box-2__progress-bar {
    position: absolute;
    left: -2rem;
    top: 5rem;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(135deg, #EBF2F9 19.14%, #C6D7EB 154.68%), linear-gradient(160deg, white 26.33%, rgba(219, 230, 242, 0) 50.71%, #99a9b8 100%);
    box-shadow: -16px -16px 40px rgba(255, 255, 255, 0.8), 16px 4px 64px rgba(18, 61, 101, 0.3), inset -8px -6px 80px rgba(255, 255, 255, 0.18);
    border-radius: 24px;
    border: 1px solid transparent;
    width: 10rem;
    height: 8rem; }
  .box-2__menu {
    position: absolute;
    top: 45%;
    right: 15%;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(135deg, #EBF2F9 19.14%, #C6D7EB 154.68%), linear-gradient(160deg, white 26.33%, rgba(219, 230, 242, 0) 50.71%, #99a9b8 100%);
    box-shadow: -16px -16px 40px rgba(255, 255, 255, 0.8), 16px 4px 64px rgba(18, 61, 101, 0.3), inset -8px -6px 80px rgba(255, 255, 255, 0.18);
    border-radius: 24px;
    border: 1px solid transparent;
    box-shadow: inset -3px -3px 7px #FFFFFF, inset 2px 2px 5px rgba(136, 165, 191, 0.38); }
  .box-2__link {
    margin: 0.3rem 1rem;
    padding: 0.3rem 1rem;
    color: #B4C0CE;
    font-size: 0.8rem; }
    .box-2__link.active {
      background: #78C5D6;
      color: white;
      border-radius: 24px; }
  .box-2__mixer {
    position: absolute;
    left: 50%;
    margin: 0 -7.5rem;
    bottom: 1rem;
    padding: 0 2rem;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(135deg, #EBF2F9 19.14%, #C6D7EB 154.68%), linear-gradient(160deg, white 26.33%, rgba(219, 230, 242, 0) 50.71%, #99a9b8 100%);
    box-shadow: -16px -16px 40px rgba(255, 255, 255, 0.8), 16px 4px 64px rgba(18, 61, 101, 0.3), inset -8px -6px 80px rgba(255, 255, 255, 0.18);
    border-radius: 24px;
    border: 1px solid transparent;
    width: 15rem;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .box-2__mixer li:nth-child(1)::after {
      animation-duration: 3s; }
    .box-2__mixer li:nth-child(2)::after {
      animation-duration: 5s; }
    .box-2__mixer li:nth-child(3)::after {
      animation-duration: 4.5s; }
    .box-2__mixer li:nth-child(4)::after {
      animation-duration: 3.5s; }
    .box-2__mixer li:nth-child(5)::after {
      animation-duration: 4s; }
    .box-2__mixer li:nth-child(6)::after {
      animation-duration: 2s; }
  .box-2__mixer-channel {
    background: #E3EDF7;
    border-radius: 10px;
    width: 1rem;
    height: 3rem;
    box-shadow: inset -3px -3px 7px #FFFFFF, inset 2px 2px 5px rgba(136, 165, 191, 0.38);
    position: relative; }
    .box-2__mixer-channel:after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 10%;
      border-radius: 10px;
      background: linear-gradient(89.59deg, #78C5D6 0.35%, #4BBADD 99.65%);
      animation-name: mixer;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate; }

@keyframes mixer {
  from {
    height: 20%; }
  to {
    height: 100%; } }

@keyframes levitate {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(5%); } }

.switch {
  position: relative;
  background: linear-gradient(135.44deg, #DAE6F2 13.76%, rgba(225, 234, 245, 0) 122.1%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1.6rem;
  box-shadow: inset -3px -3px 7px #FFFFFF, inset 2px 2px 5px rgba(136, 165, 191, 0.38);
  cursor: pointer; }
  .switch.active .switch__button {
    transform: translateX(0); }
  .switch__content {
    font-size: .8rem;
    color: #B4C0CE;
    padding: 0 .5rem; }
  .switch__button {
    position: absolute;
    transform: translateX(100%);
    width: 2.3rem;
    height: 2.3rem;
    color: #A0A1AC;
    border: none;
    border-radius: 50%;
    background: #E3EDF7;
    box-shadow: -16px -16px 40px rgba(255, 255, 255, 0.8), 16px 4px 64px rgba(18, 61, 101, 0.3), inset -8px -6px 80px rgba(255, 255, 255, 0.18);
    cursor: pointer;
    transition: transform .3s linear; }

.button__color {
  display: inline-block;
  text-align: center;
  border: none;
  background: #E3EDF7;
  box-shadow: -4px -2px 16px white, 4px 3px 16px rgba(104, 132, 157, 0.5);
  cursor: pointer;
  transition: all .3s linear;
  min-width: 270px;
  height: 60px;
  margin: 5px 0 40px 0;
  padding: 18px 55px;
  color: #123D65;
  font-size: 20px;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  text-shadow: 1px 1px 1px rgba(25, 27, 33, 0.35);
  background: linear-gradient(89.59deg, #78C5D6 0.35%, #4BBADD 99.65%);
  box-shadow: 6px 9px 40px rgba(3, 184, 255, 0.44), -6px -6px 16px rgba(255, 255, 255, 0.6);
  transform: translateY(0); }
  .button__color:hover {
    background: linear-gradient(89.59deg, #6cb2c2 0.35%, #46aece 99.65%);
    color: #f2f2f2;
    box-shadow: -6px -6px 6px rgba(255, 255, 255, 0.6), 6px 9px 10px rgba(75, 186, 221, 0.44); }

.clock {
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  width: 8rem;
  height: 8rem;
  justify-self: center;
  box-shadow: -4px -2px 16px white, 4px 3px 16px rgba(104, 132, 157, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .clock__hand {
    position: absolute;
    transform-origin: bottom;
    bottom: 4rem;
    border-radius: .2rem;
    z-index: 200; }
  .clock__hours {
    width: .2rem;
    height: 2.5rem;
    background: #78C5D6; }
  .clock__minutes {
    width: .2rem;
    height: 3.1rem;
    background: #78C5D6; }
  .clock__seconds {
    width: .1rem;
    height: 3.3rem;
    background: #4BBADD; }
  .clock__point {
    position: absolute;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background: #78C5D6;
    z-index: 300; }
  .clock__marker {
    width: 95%;
    height: 95%;
    border-radius: 50%;
    position: relative;
    box-shadow: inset -3px -3px 7px #FFFFFF, inset 2px 2px 5px rgba(136, 165, 191, 0.38); }
    .clock__marker::after {
      content: '';
      width: 60%;
      height: 60%;
      position: absolute;
      box-shadow: inset 1px 1px 1px #E3EDF7, inset -1px -1px 1px white;
      border-radius: 50%;
      top: 20%;
      left: 20%;
      filter: blur(1px); }
    .clock__marker-1, .clock__marker-2, .clock__marker-3, .clock__marker-4 {
      position: absolute;
      border-radius: .1rem;
      box-shadow: inset 1px 1px 1px #E3EDF7, inset -1px -1px 1px white; }
    .clock__marker-1, .clock__marker-2 {
      width: .2rem;
      height: .6rem;
      left: 3.6rem; }
    .clock__marker-3, .clock__marker-4 {
      width: .6rem;
      height: .2rem;
      top: 3.6rem; }
    .clock__marker-1 {
      top: 2%; }
    .clock__marker-2 {
      top: 98%;
      transform: translateY(-0.6rem); }
    .clock__marker-3 {
      left: 2%; }
    .clock__marker-4 {
      left: 98%;
      transform: translateX(-0.6rem); }

.slider-with-point {
  width: 13rem;
  height: 1rem;
  box-shadow: inset -3px -3px 7px #FFFFFF, inset 2px 2px 5px rgba(136, 165, 191, 0.38);
  position: relative;
  border-radius: 10px; }
  .slider-with-point:after {
    content: "";
    position: absolute;
    width: 13rem;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(89.59deg, #78C5D6 0.35%, #4BBADD 99.65%);
    border-radius: 10px;
    animation: widthExpand 5s linear infinite;
    animation-direction: alternate; }
  .slider-with-point__bullet {
    position: absolute;
    z-index: 100;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    top: -0.45rem;
    left: -0.6rem;
    background: #E3EDF7;
    box-shadow: -4px -2px 16px white, 4px 3px 16px rgba(104, 132, 157, 0.5);
    animation: moveRight 5s linear infinite;
    animation-direction: alternate; }
    .slider-with-point__bullet:after {
      content: "";
      position: absolute;
      z-index: 100;
      width: .6rem;
      height: .6rem;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      margin: -0.3rem;
      background: #E3EDF7;
      box-shadow: inset -3px -3px 7px #FFFFFF, inset 2px 2px 5px rgba(136, 165, 191, 0.38); }

@keyframes widthExpand {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes moveRight {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(12.8rem); } }

.play-button {
  grid-column: 2 / 3;
  grid-row: 4 / 6;
  width: 5rem;
  height: 100%;
  justify-self: center;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%); }
  .play-button__inner {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 4.5rem;
    height: 4.5rem;
    display: flex;
    margin: .6rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 3.2rem;
    color: #78C5D6;
    z-index: 300;
    background: #E3EDF7;
    box-shadow: -4px -2px 16px white, 4px 3px 16px rgba(104, 132, 157, 0.5);
    position: relative; }
  .play-button__icon {
    width: 2rem;
    height: 2rem; }
  .play-button__back-1, .play-button__back-2 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    filter: blur(1px);
    z-index: 100; }
  .play-button__back-1 {
    box-shadow: 0.4rem 0.4rem 0.6rem #E3EDF7, -0.4rem -0.4rem 0.6rem white;
    background: linear-gradient(to bottom right, #E3EDF7 0%, white 100%);
    animation: waves 4s linear infinite; }
  .play-button__back-2 {
    box-shadow: 0.4rem 0.4rem 0.6rem #E3EDF7, -0.4rem -0.4rem 0.6rem white;
    animation: waves 4s linear 2s infinite; }

@keyframes waves {
  0% {
    transform: scale(1);
    opacity: 1; }
  50% {
    opacity: 1; }
  100% {
    transform: scale(2);
    opacity: 0; } }

.circle-progress-bar {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: #E3EDF7;
  box-shadow: inset -3px -3px 7px #FFFFFF, inset 2px 2px 5px rgba(136, 165, 191, 0.38);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3rem; }
  .circle-progress-bar__svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%; }
  .circle-progress-bar__circle {
    fill: none;
    stroke-linecap: round;
    stroke-width: 10;
    stroke-dasharray: 251.2;
    stroke-dashoffset: 251.2;
    animation: fill 5s linear infinite;
    animation-direction: alternate; }
  .circle-progress-bar__counter {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: #E3EDF7;
    box-shadow: -4px -2px 16px white, 4px 3px 16px rgba(104, 132, 157, 0.5);
    color: #78C5D6;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center; }

@keyframes fill {
  0% {
    stroke-dashoffset: 251.2; }
  100% {
    stroke-dashoffset: 25; } }

